
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap');

.footer {
  width: 100%;
  background: linear-gradient(to right, #006610, #FFD600);
  color: white;
  padding: 1.5rem 0;
  font-weight: 400;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-logo {
  font-family: 'Manrope', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.footer-text {
  font-size: 0.9rem;
  font-weight: 600;
  display: inline-block;
  transform: translateX(50px); /* 20px to the right */
}

.social-icons {
  display: flex;
  gap: 1.5rem;
}

.icon {
  background: white;
  color: #166534;
  padding: 0.8rem;
  border-radius: 50%;
  font-size: 2rem;
  width: 45px;     
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

.icon:hover {
  background: #166534;
  color: white;
  transform: scale(1.15);
}

/*  Responsive */
@media (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }

  .footer-logo,
  .footer-text {
    margin-bottom: 0;
  }
}
/* Mobile */
@media (max-width: 768px) {
  .footer {
    padding: 0.5rem 0; /* mas maliit na height */
    font-size: 0.75rem;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    padding: 0 1rem;
  }

  .footer-logo {
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
  }

  .footer-text {
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
    margin-right: 6rem;
  }
  

  .social-icons {
    gap: 0.5rem;
  }

  .icon {
    font-size: 1.2rem;
    width: 30px;
    height: 30px;
    padding: 0.3rem;
  }
}

/* Small Mobile */
@media (max-width: 480px) {
  .footer {
    padding: 0.4rem 0;
    font-size: 0.7rem;
  }

  .footer-container {
    gap: 0.4rem;
    padding: 0 0.8rem;
  }

  .footer-logo {
    font-size: 1rem;
    margin-bottom: 0.2rem;
  }

  .footer-text {
    font-size: 0.65rem;
    margin-bottom: 0.4rem;
  }

  .social-icons {
    gap: 0.4rem;
  }

  .icon {
    font-size: 1rem;
    width: 28px;
    height: 28px;
    padding: 0.25rem;
  }
}
